
<header class="site-header">
  <div class="quadro quadro_style-1 site-header__quadro"><span class="quadro__part quadro__part_1"></span><span class="quadro__part quadro__part_2"></span><span class="quadro__part quadro__part_3"></span><span class="quadro__part quadro__part_4"></span><span class="quadro__part quadro__part_5"></span><span class="quadro__part quadro__part_6"></span><span class="quadro__part quadro__part_7"></span><span class="quadro__part quadro__part_8"></span><span class="quadro__part quadro__part_9"></span>
  </div>
  <div class="container">
    <h1 class="site-header__title title-lg">Летний <span class="color-brand-3">языковой лагерь </span>в <span class="site-header__title-flag">Польше</span>
    </h1>
    <p class="site-header__description">Поможем Вашему ребенку поступить в престижную польскую школу, лицей или техникум, после которого он сможет:
    </p>
    <div class="text-center">
      <button class="btn btn_navigation effect effect_bounce-top" data-action="v-modal" data-open="#modal-form">Проконсультироваться и узнать даты заездов
      </button>
    </div>
  </div>
</header>