include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.HEADER.site-header
	+quadro('_style-1 site-header__quadro')
	.container
		+e.H1.title.title-lg
			|Летний 
			span.color-brand-3 языковой лагерь 
			|в 
			+e.SPAN.title-flag Польше
		+e.P.description Поможем Вашему ребенку поступить в престижную польскую школу, лицей или техникум, после которого он сможет:
		.text-center
			+b.BUTTON.btn._navigation.effect._bounce-top(data-action="v-modal" data-open="#modal-form") Проконсультироваться и узнать даты заездов