include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.europe
	.container
		.row
			.col-12.col-sm-6
				+e.H3.title.title-md 
					span.color-brand-2 Европа  
					| - дорого, сложно, «для избранных»
				+e.content.text
					p Мы привыкли, что только дети чиновников или крупных бизнесменов могут позволить себе отдыхать или учится на Западе.
					p Но Европа - это не только дождливые улочки Лондона, набережные Ниццы и снежные курорты Куршавеля…
					p Есть Европа не менее прекрасная, но которую можете позволить себе Вы - простая украинская семья, которая желает своему ребенку самого лучшего.
			.col-12.col-sm-6