-
	var navigation = [
		{
			name: 'Распорядок дня',
			link: '#section-daily'
		},
		{
			name: 'Организация',
			link: '#section-about'
		},
		{
			name: 'Чем заняться',
			link: '#section-what-to-do'
		}
	];

	var wordpress = false;

	var themePrefix = '';